body{background: #fff; overflow:auto}
body, input{font-family: tahoma; font-size: 12px;}

body{color: #444}

a, a:visited{color: #900; cursor: pointer}
a:hover{color: #000}


/*--------- Forms ---------*/
.Btn, .Btn:visited, .Btn span, .Btn input, .Btn div {background: url('/_img/admin/btnGeneral.png') no-repeat;}
.Btn, .Btn:visited{padding-right: 5px; background-position: right -40px}
.Btn div{background-position: left -20px}
.Btn span, .Btn input{background-position: center 0px; background-repeat: repeat-x}
a.Btn, a.Btn input{color: #fff}
.Btn:hover {background-position: right -100px}
.Btn:hover div{background-position: left -80px}
.Btn:hover span, .Btn:hover input{background-position: left -60px}
.LnkBtn{background: #fff; behavior:none}

/*--------- Contents ---------*/

/*--------- List Page ---------*/
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family: Tahoma}
.ui-jqgrid-view .LnkBtn{margin: 3px 1px}
.ui-jqgrid-view .LnkBtn:hover{border-color: #fff}
.ui-jqgrid-view .LnkBtn img{width: 16px; height: 16px; }

/*--------- Footer ---------*/
.Footer{height: 18px; font-size: 10px}
.AdminCopyright{vertical-align: middle; text-align: center; direction: ltr; color: #444; border-top:1px solid #444; background: #fff}
.AdminCopyright a:hover{text-decoration: underline}
