body	{color: #445; line-height: 18px}
body, input{font-family: Tahoma; font-size: 11px;}

a{color: #06c; text-decoration: none;}
a:hover{color: #f00; text-decoration: underline;}

h1, h2, h3{margin:0px; font-weight: normal}
.HTitle {font-size: 12px}
